

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error {
    color: red;
}
.content {
    width: 75%;
    max-width: 1080px;
    margin: auto;
}
.form {
    mat-card-header {
        margin: 1rem;
        max-width: 600px;
    }
}
