<div>
    <mat-toolbar>
        <img src="/assets/logo_p6.png" class="logo" alt="logo"/>
        <span class="spacer"></span>
        <div *ngIf="$isLogged() | async">
            <button routerLink="/articles" mat-button>
                Articles
            </button>
            <button routerLink="/themes" mat-button>
                Thèmes
            </button>
            <button routerLink="/profil" mat-button color="secondary">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>
